[Unit]
Description=Space Machines Service
#After=multi-user.target

[Service]
Type=idle
ExecStart=/home/pi/run-space-machines.sh
User=root

[Install]
WantedBy=multi-user.target
